appdirs==1.4.4
attrs==21.2.0
Automat==20.2.0
babelfish==0.6.0
Beaker==1.11.0
beautifulsoup4==4.10.0
binwalk==2.3.3
btrfsutil==5.15.1
CacheControl==0.12.6
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==35.0.0
decorator==5.1.0
deluge==2.0.4.dev56
distlib==0.3.3
distro==1.6.0
dogpile.cache==1.1.4
enzyme==0.4.1
Flask==2.0.2
gallery-dl==1.19.1
GeoIP==1.3.2
guessit==3.4.3
html5lib==1.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
instaloader==4.8.1
isc==2.0
itsdangerous==2.0.1
Jinja2==3.0.3
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
Mako==1.1.6
MarkupSafe==2.0.1
more-itertools==8.10.0
msgpack==1.0.2
numpy==1.21.4
ordered-set==4.0.2
packaging==20.9
pbr==5.8.0
pep517==0.12.0
Pillow==8.4.0
ply==3.11
progress==1.6
psutil==5.8.0
pulsemixer==1.5.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.21
pyfiglet==0.8.post1
PyGObject==3.42.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PySide2==5.15.2
pysrt==1.1.2
python-dateutil==2.8.2
pytz==2021.3
pywal==3.3.0
pywalfox==2.7.4
pyxdg==0.27
rarfile==4.0
rebulk==3.1.0
Reflector==2021.7.8.19.52.52
rencode==1.0.6
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
screenkey==1.4
service-identity==21.1.0
setproctitle==1.2.2
shiboken2==5.15.2
six==1.16.0
soupsieve==2.3.1
stevedore==3.5.0
subliminal==2.1.0
team==1.0
termcolor==1.1.0
toml==0.10.2
tomli==1.2.2
tqdm==4.62.3
Twisted==21.7.0
typing-extensions==3.10.0.2
urllib3==1.26.7
urwid==2.1.2
vocabs==1.0.0
webencodings==0.5.1
Werkzeug==2.0.2
youtube-dl==2021.6.6
zope.interface==5.4.0
